@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    #root {
        width: 100vw;
        height: 100vh;
        max-width: none;
    }
}
@layer components {
    .fixed_center {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}